
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet">
<h2>Click to choice</h2> <br/>  
  
<mat-divider></mat-divider>

<section>

    <div class="example-button-row">
        <button class="action-button" mat-raised-button color="Warn" (click)="onNext()">Next</button>
        <button class="action-button" mat-raised-button color="Warn" (click)="onFlag()">Flag</button>
    </div>
</section>
 <b> make sure run nodeJd server on localserver folder to</b>
<mat-divider  ></mat-divider>
<div> selected [{{ (stocks | selectedTickerPipe)?.length }}]</div>
<section>
    <div class="container">
        <div *ngFor="let ticker of stocks|selectedTickerPipe" >
            <button mat-raised-button class="green-button" (click)="goToLink(ticker)">{{ticker.symbol}}</button>
        </div>    
    </div>
 </section>
 <mat-divider></mat-divider>
 <div>=======Pool===[{{ (stocks | unreviewedTickerPipe)?.length }}]=====</div>

 <section>
    <div class="container">
        <div *ngFor="let ticker of stocks|unreviewedTickerPipe " >
            <button mat-raised-button class="grey-button" color="Warn" (click)="goToLink(ticker)">{{ticker.symbol}}</button>
        </div>    
    </div>

 </section>


