
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet">
<h2>Click to choice</h2> <br/>  
  
<mat-divider></mat-divider>

<section>

    <div class="example-button-row">
        <button mat-raised-button color="Warn" (click)="onNext()">Next</button>
        <button mat-raised-button color="Warn" (click)="onFlag()">Flag</button>
    </div>
</section>
<mat-divider  ></mat-divider>
<b> make sure run nodeJd server on localserver folder to</b>
<mat-divider  ></mat-divider>

 <table mat-table [dataSource]="dataSource|selectedTickerPipe" class="mat-elevation-z8">

  
    <ng-container matColumnDef="Symbol">
      <th mat-header-cell *matHeaderCellDef> Symbol. </th>
      <td mat-cell *matCellDef="let ticker"> 
         <div [style.color]="blue"  class="btn btn-primary" >
             <span (click)="onReviewed(ticker)">{{ticker.symbol}}</span>
             <span  *ngIf="ticker.opened" class="material-icons">check_circle</span>
             <span  *ngIf="ticker.checked" class="material-icons">thumb_up</span>
             <span  *ngIf="!ticker.checked" class="material-icons" (click)="onFollow(ticker)">thumb_down_alt</span>
             </div>
        </td>
    </ng-container>
  
    <!--ng-container matColumnDef="reviewed">
      <th mat-header-cell *matHeaderCellDef> reviewed </th>
      <td mat-cell *matCellDef="let ticker"> <input
        type="checkbox"
        [checked]="ticker.opened"
        (change)="onReviewed(ticker)"/> </td>
    </ng-container-->
  
    <!--ng-container matColumnDef="opened">
      <th mat-header-cell *matHeaderCellDef> followed </th>
      <td mat-cell *matCellDef="let ticker"> <input
        id="ticker.symbol"
        type="checkbox"
        [checked]="ticker.checked"
        (change)="onFollow(ticker)"/> </td>
    </ng-container-->
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let stocks; columns: displayedColumns;"></tr>

  
</table>

